<!DOCTYPE html>

<html>

<head>
    <title>Timestamp Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="contenido">
    <h2 id="titulo">
        <a name="request-header-parser-microservice" href="#request-header-parser-microservice"></a>
        Timestamp Microservice
    </h2>

    <blockquote>
        <p class="info">
            <strong>Metodo:</strong> GET<br/>
            <strong>Url:</strong> <br/>
            <a href="/api/2015-12-25/">[url_base]/api/2015-12-25</a> <br/>
            <a href="/api/1451001600000/">[url_base]/api/1451001600000</a>
        </p>
        <p>
            <strong>Datos de salida:</strong>
        </p>

        <pre class="">
            <code>{
    "<span class="hljs-attribute">unix</span>": <span><span
                        class="hljs-string">"{{unix}}"</span></span>,
    "<span class="hljs-attribute">utc</span>": <span><span
                        class="hljs-string">"{{utc}}"</span></span>
</span>}

</code></pre>
    </blockquote>
</div>
</body>

</html>
